

.about-bubble {
    h2 {
        margin-bottom: 1em;
    }
    p {
        line-height: 1.6em;
    }
}

#diningtable {
    background-image: url("../media/fine-dining.jpg");
}

#speedboat {
    background-image: url("../media/speedboat.jpg");
}