$lightest: #f6f5f3;

.staff {
  background-color: $lightest;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-top: 2em; 
  margin-bottom: 4em;
  img {
    max-width: 70%;
    width: 350px;
    height: auto;
    margin: 2em 0 0 0 ;
  }
  p {
    margin: 0 0 5em 0;
  };
}
