$lightest: #f6f5f3;

.staff {
  background-color: $lightest;
  display: flex; /* Gör det möjligt att centrera innehållet */
  flex-direction: column; /* Placera bilden och texten vertikalt */
  align-items: center; /* Centrera innehållet horisontellt */
  text-align: center; /* Justera texten i mitten */
  margin-top: 2em; /* Lägg till lite utrymme ovanför om det behövs */
  img {
    max-width: 70%;
    width: 350px;
    height: auto;
    margin: 2em 0 0 0 ;
  }
  p {
    margin: 0 0 5em 0;
  };
}
