.room-bubble {
    margin-bottom: 4em;
    h2 {
        font-weight: 400;
        font-size: 1.4em;
        letter-spacing: 1px;
        margin-bottom: 0.3em;
    }
}

.rs-img {
    img {
        width: 90%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.rs-text {
    width: 90%;
    p {
        font-size: 1.1em;
        line-height: 1.6em;
    }
}